*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rockwell{
    font-family: "Rockwell Nova", sans-serif;
}
.futura{
    font-family: 'Futura Now', sans-serif;
}

.my-container{
    max-width: 8.26in;
    min-width: 8.26in;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

main{
    width: 100%;
    height: calc(1122.24px - 122px);
    background-color: #314d5b;
    color: white;
}

.line{
    position: relative;
    line-height: 33px;
    height: 33px;
    display: flex;
    align-items: center;
}
.line:before{
    bottom: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
}

.big-heading{
    font-size: 19px;
}
.medium-heading{
    font-size: 15px;
    padding: 17px 0;
    text-transform: uppercase;
}
.small-heading{
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    padding-top: 17px;
}
.point {
    padding-left: 26px;
    position: relative;
    width: fit-content;
    margin-right: 6px;
}
.point div{
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 100%;
}
.point div:before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.small-heading h4{
    font-size: 16px;
}

.pd-left{
    padding-left: 40px;
}
.pd-7{
    padding-left: 7px;
}

main> .row{
    margin: -7px !important;
}
main> .row> .col{
    padding: 7px !important;
}

.arial{
    font-family: Arial, Helvetica, sans-serif;
}

.para{
    font-size: 13px;
}

p{
    margin-bottom: 0;
}

.flex-0{
    flex: 0;
}

.h-0{
    height: 0 !important;
}
a{
    color: inherit;
    text-decoration: none;
}